<div class="container">
  <h3>Some Cool Restaurants</h3>

  <table>
    <tr>
  	  <th>Restaurant</th>
  	  <th>Description</th>
  	  <th>Address</th>
  	  <th>Phone</th>
    </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td><%= restaurant.description %></td>
      <td><%= restaurant.address %> <%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zipcode %></td>
      <td><%= restaurant.phone %></td>
      <td><%= link_to "Edit", edit_restaurant_path(restaurant) %></td>
      <td><%= link_to "Remove", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Add a Restaurant', new_restaurant_path %>
</div>