<p>
  <strong>Restaurant:</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>
<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>
<p>
  <strong>Zip Code:</strong>
  <%= @restaurant.zipcode %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @restaurant.owner.email %>
<p>
  <strong>Map:</strong>
  <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&key=AIzaSyDkOmMMgy6KC-e7I_WV70cGVmsOthrK9t4&center=<%= @restaurant.address %><%= @restaurant.city %><%= @restaurant.state %><%= @restaurant.zipcode %>" />
</p>

<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Remove", restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', restaurants_path %>